// Mainly missing margins from GF Core CSS and bcakground color for HTML field

:root {
    --sht--gform--unit: 8px;
    --sht--gform--unit--large: var(--sht--gform--unit--large);
    --sht--gform--html--background-color: #f4f4f4;
}

.gform_wrapper {
    .gform_heading {
        .gform_title {
            display: block;

            + * {
                margin-top: var(--sht--gform--unit--large);
            }
        }

        .gform_description,
        .gform_required_legend {
            display: block;

            + * {
                margin-top: var(--sht--gform--unit);
            }
        }
    }
    .gchoice {
        + .gchoice {
            margin-top: var(--sht--gform--unit);
        }
    }
    .gsection {
        .gsection_title,
        .gsection_description {
            display: block;

            + * {
                margin-top: var(--sht--gform--unit);
            }
        }
    }
    .gfield_html {
        display: block;
        background-color: var(--sht--gform--html--background-color);
        padding: var(--sht--gform--unit--large);
    }
    &.gravity-theme .gfield_description {
        &.gfield_consent_description {
            padding: var(--sht--gform--unit);

            + * {
                margin-top: var(--sht--gform--unit);
            }
        }
    }
    .ginput_container_post_image {
        [id*='extensions_message'] {
            display: block;
            margin-top: var(--sht--gform--unit);
        }
    }

    .gfield + .gfield {
        margin-top: var(--sht--gform--unit--large);
    }
}

// styles for legacy markup (version < 2.5)
// { … }
