:root {
	--body-color: var(--color-black);
	--body-background-color: var(--color-white);

	--selection-color: var(--color-white);
	--selection-background-color: var(--color-black);
}

html {
	overflow-y: scroll;
	max-height: 100%;
	line-height: 1.5;

	&.is--menuopen {
		overflow: hidden;
		position: fixed;
		top: 0;
		width: 100vw;
		height: 100vh;

		&.admin-bar {
			margin-top: 0 !important;

			body {
				margin-top: var(--c-adminbar-height);
			}
		}
		@include desktop {
			overflow-y: auto;
			position: static;
			height: auto;
		}
	}
}

body {
	background-color: var(--body-background-color);
	color: var(--body-color);
}

::selection {
	color: var(--selection-color);
	background-color: var(--selection-background-color);
}

@include context-view {
	body {
		overflow-x: hidden;
	}
}
