/**
 * Special offset handling for admin bar because of
 * core-defined top margins and position fixed from
 * 600px +.
 */

:root,
body {
    --admin-bar--offset: calc(-1 * var(--admin-bar-height));
    --scroll-margin-top: var(--unit);

    @include breakpoint(wordpress_small) {
        --admin-bar--offset: 0;
    }
}

html {
    &.is--mobilemenu--open {
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100vw;
        height: calc(100 * var(--vh));

        #wpadminbar {
            margin-top: var(--admin-bar--offset);
        }

        @include breakpoint(desktop) {
            overflow-y: auto;
            position: static;
            height: auto;
        }
    }
}

@include context-view {
    [id] {
        scroll-snap-margin-top: var(--scroll-margin-top); // Safari
        scroll-margin-top: var(--scroll-margin-top);
    }

    body {
        overflow-x: hidden;
    }
}
