body {
    --checkbox-size: calc(var(--unit) * 1.5);
    --checkbox-size-small: var(--unit); // used in other SCSS files, not here
    --field-border: 1px solid var(--color-gray);
    --field-radius: var(--radius);
    --checkbox-radius: #{rem-calc(2px)};
    --checkbox-background-color: var(--color-white);
    --checkbox-checked-background-color: var(--color-primary);
    --checkbox-checked-border-color: var(--color-primary);
    --field-radius: var(--radius);
    --field-placeholder-color: var(--color-gray);
    --field-border-focus-color: var(--color-primary);
}

::placeholder {
    color: var(--field-placeholder-color);
}

form {
    font-size: 1rem;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

input {
    &[disabled] {
        opacity: 0.75;
    }

    &[type='button'],
    &[type='submit'] {
        @extend .o-button;
    }

    &[type='date'],
    &[type='datetime-local'],
    &[type='datetime'],
    &[type='email'],
    &[type='month'],
    &[type='number'],
    &[type='password'],
    &[type='search'],
    &[type='tel'],
    &[type='text'],
    &[type='time'],
    &[type='url'],
    &[type='week'] {
        -webkit-appearance: none; // remove inner shadow
        border: var(--field-border);
        border-radius: var(--field-radius);
        padding: var(--unit-small);
        display: block;
        width: 100%;

        &.medium {
            @include breakpoint(tablet) {
                width: calc(50% - var(--unit));
            }
        }

        &.small {
            width: calc(25% - var(--unit));
        }

        &:focus {
            outline: none;
            border-color: var(--field-border-focus-color);
        }
    }
}

[type='radio'],
[type='checkbox'] {
    position: absolute;
    transform: scale(0);
    z-index: -1;
    width: 0;
    height: 0;
    margin: 0 !important;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;

    ~ label {
        display: flex !important;
        align-items: center;

        &:before {
            @include transition;
            content: '';
            display: inline-block;
            width: var(--checkbox-size);
            height: var(--checkbox-size);
            flex: 0 0 var(--checkbox-size);
            margin-right: 0.5em;
            background: url('../img/icons/checkbox-active.min.svg') center no-repeat;
            background-color: var(--checkbox-background-color);
            background-size: 0;
            border: var(--field-border);
            border-radius: var(--checkbox-radius);
            vertical-align: baseline;
        }

        a {
            display: inline-block;
            margin-right: 0.25em;
        }
    }

    &:checked ~ label:before {
        background-color: var(--checkbox-checked-background-color);
        border-color: var(--checkbox-checked-border-color);
        background-size: contain;
    }
}

[type='checkbox'] ~ label:before {
    border-radius: var(--checkbox-radius);
}

[type='radio'] ~ label:before {
    border-radius: 50%;
}

textarea {
    -webkit-appearance: none; // remove inner shadow
    resize: vertical;
    border: var(--field-border);
    border-radius: var(--field-radius);
    padding: var(--unit-small);
    display: block;
    width: 100%;

    &.medium {
        @include breakpoint(tablet) {
            width: calc(50% - var(--unit));
        }
    }

    &.small {
        width: calc(25% - var(--unit));
    }

    &:focus {
        outline: none;
        border-color: var(--field-border-focus-color);
    }
}

label.error {
    color: var(--color-danger);
    font-size: var(--font-size-small);
}

.input.error {
    border-color: var(--color-danger-border);
    outline-color: var(--color-danger-border);
}
