body {
    // Variables for Gravity Forms. Comment in only if plugin in use.
    --gf-ajaxspinner-borderoff-color: var(--wp--preset--color--gray-xlight);
    --gf-ajaxspinner-borderon-color: var(--wp--preset--color--primary);
    --gf-ajaxspinner-width: var(--unit-medium);
    --gf-ajaxspinner-height: var(--unit-medium);
}

// gravity-theme (version > 2.5)
// Mainly missing margins from GF Core CSS and bcakground color for HTML field
:root {
    --sht--gform--unit: 8px;
    --sht--gform--unit--large: 16px;
    --sht--gform--html--background-color: #f4f4f4;
}

.gform_wrapper.gravity-theme {
    .gform_heading {
        .gform_title {
            display: block;

            + * {
                margin-top: var(--sht--gform--unit--large);
            }
        }

        .gform_description,
        .gform_required_legend {
            display: block;

            + * {
                margin-top: var(--sht--gform--unit);
            }
        }
    }
    .gchoice {
        + .gchoice {
            margin-top: var(--sht--gform--unit);
        }
    }
    .gsection {
        .gsection_title,
        .gsection_description {
            display: block;

            + * {
                margin-top: var(--sht--gform--unit);
            }
        }
    }
    .gfield_html {
        display: block;
        background-color: var(--sht--gform--html--background-color);
        padding: var(--sht--gform--unit--large);
    }
    &.gravity-theme .gfield_description {
        &.gfield_consent_description {
            padding: var(--sht--gform--unit);

            + * {
                margin-top: var(--sht--gform--unit);
            }
        }
    }
    .ginput_container_post_image {
        [id*='extensions_message'] {
            display: block;
            margin-top: var(--sht--gform--unit);
        }
    }

    .gfield + .gfield {
        margin-top: var(--sht--gform--unit--large);
    }
}

// styles for legacy markup (version < 2.5)
.gform_wrapper.gform_legacy_markup_wrapper {
    // …
}
