/*
 * https://every-layout.dev/layouts/stack/
 */

%h-stack {
    > * {
        margin-top: 0;
        margin-bottom: 0;

        & + * {
            margin-top: var(--wp--style--block-gap);
        }
    }

    &--small {
        @extend %h-stack;
        --wp--style--block-gap: var(--unit--small);
    }

    &--xsmall {
        @extend %h-stack;
        --wp--style--block-gap: var(--unit--xsmall);
    }

    &--medium {
        @extend %h-stack;
        --wp--style--block-gap: var(--unit--medium);
    }

    &--large {
        @extend %h-stack;
        --wp--style--block-gap: var(--unit--large);
    }

    &--xlarge {
        @extend %h-stack;
        --wp--style--block-gap: var(--unit--xlarge);
    }
}
