:root {
	--font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	--font-family-heading: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	--font-size: #{$font-size};
	--font-size-small: #{map-get(map-get($font_sizes, small), value)+0px};
	--font-size-xsmall: #{map-get(map-get($font_sizes, xsmall), value)+0px};
	--font-size-large: #{map-get(map-get($font_sizes, large), value)+0px};
	--font-size-xlarge: #{map-get(map-get($font_sizes, xlarge), value)+0px};
	--line-height: 1.5;
	--line-height-heading: 1.2;

	--color-link: var(--color-primary);
	--color-link-hover: var(--color-primary-dark);
}

body {
	font-family: var(--font-family);
	font-weight: 400;
	line-height: var(--line-height);
	font-size: 1rem;
}

abbr,
acronym {
	cursor: help;
}

a,
button {
	@include transition();
}

button {
	text-decoration: none;
}

blockquote {
	margin: 0;
	@extend .h-stack;
}

button {
	text-decoration: none;
}

cite {
	display: block;
}

code {
	// color: c(brown);
	background-color: c(gray, light);
	display: inline-block;
	padding: .0625em .25em;
}

dd + dt {
	margin-top: var(--unit);
}

dt {
	font-weight: 700;
}

figure,
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

figure {
	margin: 0;

	> a {
		border-bottom: none;
	}
}

figcaption {
	font-size: var(--font-size-small);
	text-align: center;
}

nav {
	li,
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	a {
		text-decoration: none;
	}
}

q {
	font-style: italic;
}

sub,
sup {
	font-size: var(--font-size-xsmall);
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

input,
li,
p,
tr {
	font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-family-heading);
	line-height: var(--line-height-heading);
	margin: 0;

	a,
	a:active,
	a:hover {
		text-decoration: none;
		color: currentColor;
	}
}

@include context-edit {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--font-family-heading);

		a,
		a:active,
		a:hover {
			color: currentColor !important;
			border: none !important;
		}
	}
}

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;

	&:focus {
		clip: auto !important;
		clip-path: none;
		color: c(black);
		display: block;
		font-size: 1em;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000;
		/* Above WP toolbar. */
	}
}

@include context-view {
	a,
	button {
		color: var(--color-link);

		&:active,
		&:hover {
			color: var(--color-link-hover);
		}
	}
}

@include context-edit {
	.block-editor-rich-text__editable a {
		a,
		button {
			color: var(--color-link);

			&:active,
			&:hover {
				color: var(--color-link-hover);
			}
		}
	}
}
