.c-article {

	@extend .c-stack--medium;
	max-width: var(--constraint-narrow);
	margin-left: auto;
	margin-right: auto;
	padding-left: var(--unit);
	padding-right: var(--unit);

	@include narrow {
		padding-left: 0;
		padding-right: 0;
	}

	&__date {
		display: block;
		font-size: var(--font-size-small);
	}

	&__header {
		@extend .c-stack;
	}

	&__thumbnail {
		@extend .alignmedium;
	}

	&__video {
		@extend .alignwide;

		&__figure {
			margin: 0;

			html.single-format-video & {
				order: -1;
				@extend .alignwide;
			}
		}

	}
}
