.c-article {

	@extend .h-stack--medium;
	max-width: var(--constraint-narrow);
	margin-left: auto;
	margin-right: auto;

	&__date {
		display: block;
		font-size: var(--font-size-small);
	}

	&__header {
		@extend .h-stack;
	}

	&__thumbnail {
		@extend .alignmedium;
	}

	&__video {
		@extend .alignwide;

		&__figure {
			margin: 0;

			html.single-format-video & {
				order: -1;
				@extend .alignwide;
			}
		}

	}
}
