.c-browser-check {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: c(black);
	display: none;

	p {
		margin: 0;
		padding: $space-item;
		color: #fff;
		text-align: center;
		font-size: $font-size-small;
		line-height: 1.2;

		a {
			color: #fff;
			text-decoration: underline;
		}
	}
}

body.browser--no-js {
	.c-browser-check--noscript {
		display: block;
	}
}

body.browser--outdated {
	.c-browser-check--outdated {
		display: block;
	}
}
