.c-menu {
	list-style: none;
	text-align: center;

	&--primary {
		display: none;

		.c-menu__item {
			display: block;
		}
		@include desktop {
			display: block;
		}
	}

	&__item {
		display: inline-block;
	}

	&__link {
		padding: 0.5em 1em;
	}
}