.c-menu {
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 0;

	&--primary {
		display: none;

		@include laptop {
			display: block;
		}

		.c-menu__item {
			display: block;
		}
	}

	&__entries {
		&--primary {
			@include laptop {
				@include flex-row;
			}
		}
	}

	&__entry {
		display: inline-block;
	}

	&__entrylink {
		display: block;
		padding: .5em 1em;
	}
}
