.c-page {
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: var(--constraint-narrow);
		margin-left: auto;
		margin-right: auto;
		padding: var(--unit-medium) var(--unit);

		@include narrow {
			padding-left: 0;
			padding-right: 0;
		}

		@include laptop {
			@include flex-row;
			justify-content: space-between;
			max-width: var(--constraint-wide);
		}
	}
}
