/*
 * https://every-layout.dev/layouts/stack/
 */
:root {
	--stack-margin: var(--unit);
}

.c-stack {
	&--compact {
		--stack-margin: var(--unit-small);
	}

	> * {
		margin-top: var(--stack-margin);
		margin-bottom: var(--stack-margin);

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}

	}
}
