/**
 * WordPress alignment classes
 * For alignwide and alignfull: see _all.blocks.scss
 */

.alignleft,
.alignright {
	position: relative;
	z-index: 1;
	margin-bottom: var(--unit);
}

.alignleft {
	float: left;
	margin-right: var(--unit);
}

.alignright {
	float: right;
	margin-left: var(--unit);
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.aligncenter,
.alignleft,
.alignnone,
.alignright {
	a,
	img {
		margin: 0;
		display: block;
	}
}

figure.alignleft,
figure.alignright,
img.alignleft,
img.alignright {
	max-width: 50%;
}
