.wp-block-button {
	padding: 1rem 0;

	&.aligncenter {
		display: flex;
		justify-content: center;
	}

	&__link {
		text-decoration: none;
		display: inline-block;
		padding: 0.5rem;
		text-align: center;
		color: c(white);
		background-color: c(primary);

		&:active,
		&:focus,
		&:hover {
			color: c(white);
			background-color: c(primary, dark);
		}
	}
}