@function device-breakpoints-min($name, $sizes: $breakpoints) {
	$min: map-get($sizes, $name);
	@return if($min != 0px, $min, null);
}

@function device-breakpoints-max($name, $sizes: $breakpoints) {
	$next: device-breakpoints-next($name, $sizes);
	@return if($next, device-breakpoints-min($next, $sizes) - 0.1, null);
}

@function device-breakpoints-next($name, $sizes, $breakpoint-names: map-keys($breakpoints)) {
	$n: index($breakpoint-names, $name);
	@return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}