.menu {

	list-style: none;
	text-align: center;

	&--primary {
		@include mobile() {
			display: none;
			.menu__item {
				display: block;
			}
		}
		@include desktop() {
			display: block !important;
		}
	}

	&__item {
		display: inline-block;
	}

	&__link {
		padding: .5em 1em;
	}
}