:root {
	--color-button-primary-background: #{c(primary)};
	--color-button-primary-background-hover: #{c(primary, dark)};
	--color-button-primary-hover: #{c(white)};
	--color-button-primary: #{c(white)};
}

.o-button {

	display: inline-block;
	text-decoration: none;
	border: none;
	padding: .5em;
	background-color: var(--color-button-primary-background);
	color: var(--color-button-primary);
	&:active,
	&:hover {
		background-color: var(--color-button-primary-background-hover);
		color: var(--color-button-primary-hover);
	}

	&--size-small {
		font-size: var(--font-size-small);
	}

	&--size-large {
		font-size: var(--font-size-large);
	}

	&--size-smaller {
		font-size: var(--font-size-xsmall);
	}

	&--size-larger {
		font-size: var(--font-size-larger);
	}
}
