$font-family: var(--font-family);
$font-family-heading: var(--font-family-heading);
$font-size: 16px;
$font-size-xsmall: smaller;
$font-size-small: small;
$font-size-large: large;
$font-size-xlarge: larger;