.responsive-table {
	max-width: 100%;
	overflow-x: auto;

	table {
		min-width: 600px;
	}
}

// Typographic detail to ensure correct numeric alignment
// https://www.robinrendle.com/notes/the-smallest-difference
table {
	font-variant-numeric: tabular-name;
}
