/* fonts */
html {
	font-family: $font;
	font-weight: normal;
}

body {
	font-size: 1rem;
}

@include typography-build;

a,
button {
	color: c(primary);
	@include transition();
}

button {
	text-decoration: none;
}

input,
li,
p,
tr {
	color: c();
	margin: 0;
	font-size: 1em;

	em {
		font-style: italic;
	}

	b,
	strong {
		font-weight: bold;
	}

	small {
		font-size: $font-size-xsmall;
		display: inline-block;
	}

	&.big,
	.big {
		font-size: $font-size-xlarge;
	}

	sub,
	sup {
		font-size: $font-size-xsmall;
		line-height: 0;
		position: relative;
		vertical-align: baseline;
	}

	sup {
		top: -0.5em;
	}

	sub {
		bottom: -0.25em;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: c(black, dark);
}
