:root {
	--font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	--font-family-heading: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	--font-size: #{$font-size};
	--font-size-small: #{rem-calc(14px)};
	--font-size-xsmall: #{rem-calc(12px)};
	--font-size-large: #{rem-calc(18px)};
	--font-size-xlarge: #{rem-calc(21px)};
	--line-height: 1.5;
	--line-height-heading: 1.2;
}

body {
	font-family: var(--font-family);
	font-weight: 400;
	line-height: var(--line-height);
	font-size: 1rem;
}

abbr,
acronym {
	cursor: help;
}

a,
button {
	color: c(primary);
	@include transition();

	&:active,
	&:hover {
		color: c(primary, dark);
	}
}

button {
	text-decoration: none;
}

blockquote {
	margin: 0;
	@extend .h-stack;
}

button {
	text-decoration: none;
}

cite {
	display: block;
}

code {
	// color: c(brown);
	background-color: c(gray, light);
	display: inline-block;
	padding: .0625em .25em;
}

dd + dt {
	margin-top: var(--unit);
}

dt {
	font-weight: 700;
}

figure,
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

figure {
	margin: 0;

	> a {
		border-bottom: none;
	}
}

figcaption {
	font-size: var(--font-size-small);
	color: c(gray, dark);
}

nav {
	li,
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	a {
		text-decoration: none;
	}
}

q {
	font-style: italic;
}

sub,
sup {
	font-size: var(--font-size-xsmall);
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

input,
li,
p,
tr {
	font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-family-heading);
	line-height: var(--line-height-heading);
	margin: 0;

	a,
	a:active,
	a:hover {
		text-decoration: none;
		color: currentColor;
	}
}

@include context-edit {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--font-family-heading);

		a,
		a:active,
		a:hover {
			color: currentColor !important;
			border: none !important;
		}
	}
}
