:root {
    --c-block-margin-top: var(--unit);
}

.c-blocks {
    @include clearfix_after();

    > * {
        margin-top: 0;
        margin-bottom: 0;

        & + * {
            margin-top: var(--c-block-margin-top);
        }
    }
}

@include context-edit {
    .wp-block {
        &.is-reusable {
            max-width: 100%;
        }
    }
}
