.c-browser-check {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--wp--preset--color--black);
    display: none;

    p {
        margin: 0;
        padding: $space-item;
        color: #fff;
        text-align: center;
        font-size: var(--wp--preset--font-size--small);
        line-height: var(--wp--custom--line-height--regular);

        a {
            color: var(--wp--preset--color--white);
            text-decoration: underline;
        }
    }
}

body.browser--no-js {
    .c-browser-check--noscript {
        display: block;
    }
}

body.browser--outdated {
    .c-browser-check--outdated {
        display: block;
    }
}
