body {
    --comments--border-color: var(--wp--preset--color--gray-light);
    --comments--background-even: var(--wp--preset--color--gray-light);
    --comments--background-odd: var(--wp--preset--color--white);
    --comments--respond-border-color: var(--wp--preset--color--gray-light);
    --comments--cancel-link-color: var(--wp--preset--color--primary);
    --comments--cancel-link-color-hover: var(--wp--preset--color--primary-dark);
}

.c-comments {
    max-width: var(--constraint-narrow);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--unit);
    padding-right: var(--unit);

    @include breakpoint(tablet) {
        padding-left: 0;
        padding-right: 0;
    }

    .children {
        list-style: none;
        padding-left: 0;
    }

    .comment,
    .pingback,
    .trackback {
        padding: var(--unit);
        border: 1px solid var(--comments--border-color);
        @extend %h-stack;

        &[class*='depth'] {
            padding-left: var(--unit);
            padding-right: var(--unit);
        }

        &.even {
            background: var(--comments--background-even);
        }

        &.odd {
            background-color: var(--comments--background-odd);
        }

        // Only if inside an existing comment (so as a specific reply)
        .comment-respond {
            padding-top: var(--unit);
            padding-bottom: var(--unit);
            border-top: 1px solid var(--comments--respond-border-color);
        }
    }

    .comment-awaiting-moderation {
        flex: 0 0 100%;
        opacity: 0.65;
    }

    .comment-body,
    .comment-content {
        @extend %h-stack;

        pre {
            padding: 0;
            overflow-x: auto;
        }
    }

    .comment-edit-link {
        @extend .o-button;
    }

    .commentlist {
        padding-left: 0;
        list-style: none;
    }

    .comment-meta {
        @extend %h-stack--small;
        @include breakpoint(tablet) {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            > * {
                margin-top: 0;
            }
        }
    }

    .comment-metadata {
        font-size: var(--wp--preset--font-size--tiny);
        text-align: right;
        @include breakpoint(tablet) {
            flex: 0 0 40%;
            margin-left: var(--unit);
        }
    }

    .comment-respond {
        clear: both;
    }

    .edit-link {
        margin-left: var(--unit-small);
    }

    .navigation {
        @include clearfix;
    }

    #cancel-comment-reply-link {
        font-weight: normal;
        color: var(--comments--cancel-link-color);
        text-decoration: underline;

        &:active,
        &:hover {
            color: var(--comments--cancel-link-color-hover);
        }
    }
}
