@include context-edit {
    .c-editormessage {
        --editormessage--color: var(--sht-color--info);
        --editormessage--background-color: var(--sht-color--info-background);
        --editormessage--border-color: var(--sht-color--info-border);

        border: 1px solid var(--editormessage--border-color);
        color: var(--editormessage--color);
        background-color: var(--editormessage--background-color);
        padding: 1rem;
        @extend %h-stack;

        &--error {
            --editormessage--color: var(--sht-color--danger);
            --editormessage--background-color: var(--sht-color--danger-background);
            --editormessage--border-color: var(--sht-color--danger-border);
        }
    }
}
