body {
    --masthead--height: #{rem-calc(85px)};
    --masthead--padding-top: var(--unit-medium);
    --masthead--padding-bottom: var(--masthead--padding-top);

    @include breakpoint(laptop) {
        --masthead--height: #{rem-calc(104px)};
    }
}

.c-masthead {
    // Guttering for smaller screens
    @extend %h-guttered;

    padding-top: var(--masthead--padding-top);
    padding-bottom: var(--masthead--padding-bottom);

    &__toggler {
        @include breakpoint(laptop) {
            display: none;
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: var(--constraint-narrow);
        margin-left: auto;
        margin-right: auto;
        padding: var(--unit-medium) var(--unit);

        @include breakpoint(narrow) {
            padding-left: 0;
            padding-right: 0;
        }

        @include breakpoint(laptop) {
            max-width: var(--constraint-medium);
        }
    }

    &__title {
        font-size: 1rem;
    }
}
