.wp-site-blocks {
    display: flex;
    flex-direction: column;
    min-height: calc(100 * var(--vh));

    .admin-bar & {
        min-height: calc(100 * var(--vh) - var(--admin-bar-height));
    }
}
