$wp-gallery-column-gutter: 1rem !default;

.wp-block-gallery {
	list-style: none;
	@include for-screen-min(tablet) {
		display: flex;
		flex-flow: row wrap;
	}

	&.columns-2 {
		.blocks-gallery-item {
			@include for-screen-min(tablet) {
				flex-basis: percentage(1/2);

				&:nth-child(odd) {
					margin-left: -.5rem;
				}

				&:nth-child(even) {
					margin-right: -.5rem;
				}
			}
		}
	}

	&.columns-3 {
		.blocks-gallery-item {
			@include for-screen-min(tablet) {
				flex-basis: percentage(1/2);

				&:nth-child(2n) {
					margin-left: -.5rem;
				}

				&:nth-child(2n+1) {
					margin-right: -.5rem;
				}

				&:first-of-type {
					flex-basis: percentage(1/1);
					margin-left: -.5rem;
					margin-right: -.5rem;
				}
			}
			@include for-screen-min(tablet_landscape) {
				flex-basis: percentage(1/3);

				&:nth-child(2n) {
					margin-left: 0;
				}

				&:nth-child(2n+1) {
					margin-right: 0;
				}

				&:first-of-type {
					flex-basis: percentage(1/3);
				}

				&:nth-child(3n+1) {
					margin-left: -.5rem;
				}

				&:nth-child(3n) {
					margin-right: -.5rem;
				}
			}
		}
	}

	&.columns-4 {
		.blocks-gallery-item {
			@include for-screen-min(tablet) {
				flex-basis: percentage(1/2);

				&:nth-child(odd) {
					margin-left: -.5rem;
				}

				&:nth-child(even) {
					margin-right: -.5rem;
				}
			}
			@include for-screen-min(desktop) {
				flex-basis: percentage(1/4);

				&:nth-child(odd) {
					margin-left: 0;
				}

				&:nth-child(even) {
					margin-right: 0;
				}

				&:nth-child(4n+1) {
					margin-left: -.5rem;
				}

				&:nth-child(4n) {
					margin-right: -.5rem;
				}
			}
		}
	}

	&.columns-5 {
		.blocks-gallery-item {
			@include for-screen-min(tablet) {
				flex-basis: percentage(1/2);

				&:nth-child(2n) {
					margin-left: -.5rem;
				}

				&:nth-child(2n+1) {
					margin-right: -.5rem;
				}

				&:first-of-type {
					flex-basis: percentage(1/1);
					margin-left: -.5rem;
					margin-right: -.5rem;
				}
			}
			@include for-screen-min(desktop) {
				flex-basis: percentage(1/5);

				&:nth-child(2n) {
					margin-left: 0;
				}

				&:nth-child(2n+1) {
					margin-right: 0;
				}

				&:nth-child(5n+1) {
					margin-left: -.5rem;
				}

				&:nth-child(5n) {
					margin-right: -.5rem;
				}

				&:first-of-type {
					flex-basis: percentage(1/5);
				}
			}
		}
	}

	&.columns-6 {
		.blocks-gallery-item {
			@include for-screen-min(tablet) {
				flex-basis: percentage(1/2);

				&:first-of-type {
					flex-basis: percentage(1/1);
				}
			}
			@include for-screen-min(tablet_landscape) {
				flex-basis: percentage(1/3);

				&:first-of-type {
					flex-basis: percentage(1/3);
				}
			}
			@include for-screen-min(desktop) {
				flex-basis: percentage(1/6);

				&:first-of-type {
					flex-basis: percentage(1/6);
				}
			}
		}
	}
}

.blocks-gallery-item {
	flex: 1 100%;
	margin: $wp-gallery-column-gutter/2 0;
	@include for-screen-min(tablet) {
		padding-left: $wp-gallery-column-gutter/2;
		padding-right: $wp-gallery-column-gutter/2;
	}
}