.wp-block-button {
    &__link {
        @extend %button-generics;
    }

    &.is-style-outline {
        .wp-block-button__link:not(.has-text-color) {
            color: var(--button-color-alt);
        }
        .wp-block-button__link {
            background-color: transparent !important;
            border-color: currentColor;
        }
    }
}
