body {
    --wp-block-code-border-color: var(--wp--preset--color--gray-light);
}

.wp-block-code {
    border: 1px solid var(--wp-block-code-border-color);
    code {
        vertical-align: middle;
        max-width: 100%;
        padding: var(--unit);
        overflow-x: auto;
    }
}
