body {
    --column-grid-gap: var(--gutter);
    --column-row-gap: var(--unit-medium);

    @include breakpoint(tablet) {
        --column-row-gap: 0;
    }
}

.wp-block-column {
    @extend .h-stack;

    margin-top: 0;
    margin-bottom: 0;

    & + .wp-block-column {
        margin-top: var(--column-row-gap);
    }

    &:nth-child(2n) {
        @include breakpoint(wordpress_small up) {
            @include breakpoint(wordpress_medium down) {
                margin-left: var(--column-grid-gap);
            }
        }
    }

    &:not(:only-child) {
        @include breakpoint(wordpress_small up) {
            @include breakpoint(wordpress_medium down) {
                flex-basis: calc(50% - var(--column-grid-gap)) !important;
            }
        }
    }
}

@include context-edit {
    @include breakpoint(wordpress_small) {
        [data-type='core/columns'][data-align='full'] .wp-block-columns {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
