body {
    --column-row-gap: var(--unit-medium);

    @include breakpoint(tablet) {
        --column-row-gap: 0;
    }
}

.wp-block-column {
    @extend .h-stack;

    margin-top: 0;
    margin-bottom: 0;

    & + .wp-block-column {
        margin-top: var(--column-row-gap);
    }
}

.wp-block-columns {
    margin-bottom: 0;
}

/*
 * By default, WordPress Core converts column layouts to 2
 * between 600px and 781px. This example code shows how to
 * override that, e.g. for columns set to 66.66% and 33.33%.
 *
 * mark@sayhello.ch 12.11.2021
 */

// .wp-block-columns:not(.is-not-stacked-on-mobile) {
//     & > .wp-block-column:not(:only-child)[style*='flex-basis:66.66%'] {
//         @include breakpoint(wordpress_small up) {
//             @include breakpoint(wordpress_medium down) {
//                 flex-basis: calc(66.66% - 1em) !important;
//             }
//         }
//     }

//     & > .wp-block-column:not(:only-child)[style*='flex-basis:33.33%'] {
//         @include breakpoint(wordpress_small up) {
//             @include breakpoint(wordpress_medium down) {
//                 flex-basis: calc(33.33% - 1em) !important;
//             }
//         }
//     }
// }
