.wp-block-embed {
	@extend .h-stack--small;
	margin-left: auto;
	margin-right: auto;

	figcaption {
		color: inherit;
	}

	&.wp-has-aspect-ratio {
		.wp-block-embed__wrapper {
			position: relative;
			height: 0;

			> iframe {
				@include flood;
				width: 100%;
				height: 100%;
			}
		}

		&.wp-embed-aspect-16-9 {
			.wp-block-embed__wrapper {
				padding-bottom: percentage(9/16);
			}
		}

		&.wp-embed-aspect-4-3 {
			.wp-block-embed__wrapper {
				padding-bottom: percentage(3/4);
			}
		}
	}
}
