.wp-block-image {

	.alignleft {
		margin-top: var(--unit-xsmall);
		margin-right: var(--unit);
	}

	.alignright {
		margin-top: var(--unit-xsmall);
		margin-left: var(--unit);
	}

	figcaption {
		color: inherit;
	}
}
