:root {
    --wp-block-separator-color: var(--color-black);
    --wp-block-separator-height: 1px;
    --wp-block-separator-width: 300px;
}

.wp-block-separator {
    color: var(--wp-block-separator-color);
    border-width: 0 0 var(--wp-block-separator-height);
    border-color: var(--wp-block-separator-color);

    &:not(.is-style-wide):not(.is-style-dots) {
        max-width: var(--wp-block-separator-width);
    }
}
