// // A very simple reset that sits on top of Normalize.css.
//
// blockquote,
// body,
// dd,
// dl,
// fieldset,
// figure,
// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// hr,
// legend,
// ol,
// p,
// pre,
// ul {
// 	margin: 0;
// 	padding: 0;
// }

// Remove trailing margins from nested lists.
li > {
	ol,
	ul {
		margin-bottom: 0;
	}
}
