:root {
	--constraint-narrow: #{rem-calc(640px)};
	--constraint-medium: #{rem-calc(960px)};
	--constraint-wide: #{rem-calc(1280px)};
	--unit-xxsmall: calc(var(--unit) / 8);
	--unit-xsmall: calc(var(--unit) / 4);
	--unit-small: calc(var(--unit) / 2);
	--unit-medium: calc(var(--unit) * 2);
	--unit-large: calc(var(--unit) * 4);
	--unit-xlarge: calc(var(--unit) * 6);
	--unit-xxlarge: calc(var(--unit) * 8);
	--unit-xxxlarge: calc(var(--unit) * 10);
	--unit: 1rem;
}
