/**
 * Define the font sizes and line heights here.
 * Other definitions will be ignored, so don't bother ;)
 */
table {
  width: 100%; }
  table td tr {
    padding: 7px;
    vertical-align: top; }

blockquote {
  padding: 0.2rem 0 0.2rem 1rem;
  font-size: large;
  font-style: italic; }
  blockquote p {
    margin: 0;
    text-align: center; }

body {
  margin-left: 20px; }

a {
  color: #4646F2; }
