/**
 * Define the font sizes and line heights here.
 * Other definitions will be ignored, so don't bother ;)
 */
.button.delete {
  color: #a00;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important; }
  .button.delete:hover {
    color: red; }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoiYWRtaW4uY3NzIiwic291cmNlcyI6WyJhZG1pbi5zY3NzIiwidWkvX19fX19fX3NldHRpbmdzL19ncmlkLnNjc3MiLCJ1aS9fX19fX19fc2V0dGluZ3MvX3R5cG9ncmFwaHkuc2NzcyIsInVpL19fX19fX19zZXR0aW5ncy9fYm94c2hhZG93LnNjc3MiLCJ1aS9fX19fX19fc2V0dGluZ3MvX3RyYW5zaXRpb24uc2NzcyIsInVpL19fX19fX3Rvb2xzL19mdW5jdGlvbnMuY29sb3Iuc2NzcyIsImFkbWluL19idXR0b24uc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUVPQTs7O0dBR0c7QUlWSCxBQUFBLE9BQU8sQUFBQSxPQUFPLENBQUM7RUFDZCxLQUFLLEVBQUUsSUFBSTtFQUtYLGdCQUFnQixFQUFFLHNCQUFzQjtFQUN4QyxZQUFZLEVBQUUsc0JBQXNCO0VBQ3BDLFVBQVUsRUFBRSxlQUFlLEdBQzNCO0VBVEQsQUFHQyxPQUhNLEFBQUEsT0FBTyxBQUdaLE1BQU0sQ0FBQztJQUNQLEtBQUssRUFBRSxHQUFHLEdBQ1YifQ== */
