table {
  width: 100%; }
  table td tr {
    padding: 7px;
    vertical-align: top; }

blockquote {
  padding: 0.2rem 0rem 0.2rem 1rem;
  font-size: 1.2em;
  font-style: italic; }
  blockquote p {
    margin: 0px;
    text-align: center; }

body {
  margin-left: 20px; }

a {
  color: #4646F2; }
