body {
    --color-link: var(--color-primary);
    --color-link-hover: var(--color-primary-dark);

    // This is needed by Core for some reason
    --wp--style--color--link: var(--color-link);

    @each $colour, $colourSet in $theme_colors {
        @each $variant, $value in $colourSet {
            @if $variant == 'base' {
                --color-#{$colour}: #{$value};
            } @else {
                --color-#{$colour}-#{$variant}: #{$value};
            }
        }
    }
}

@each $color, $colorSet in $gutenberg_colors {
    @each $variant, $value in $colorSet {
        @if $variant == 'base' {
            .has-#{$color}-color {
                color: c($color);
            }

            a.has-#{$color}-color {
                &:active,
                &:hover {
                    color: c($color);
                }
            }

            .has-#{$color}-background-color {
                background-color: c($color);
            }

            .has-#{$color}-overlay-gradient {
                &::before {
                    background: linear-gradient(transparent, c($color));
                }
            }
        } @else {
            .has-#{$color}-#{$variant}-color {
                color: c($color, $variant);
            }

            a.has-#{$color}-#{$variant}-color {
                &:active,
                &:hover {
                    color: c($color, $variant);
                }
            }

            .has-#{$color}-#{$variant}-background-color {
                background-color: c($color, $variant);
            }

            .has-#{$color}-#{$variant}-overlay-gradient {
                &::before {
                    background: linear-gradient(transparent, c($color, $variant));
                }
            }
        }
    }
}

.has-overlay {
    &::before {
        content: '';
        @include flood;
        top: 50%;
        z-index: 1;
        opacity: 0.9;
    }
}

@include context-view {
    .has-text-color *:not(.has-text-color),
    .has-text-color *:not(.has-text-color):active,
    .has-text-color *:not(.has-text-color):hover {
        color: inherit;
    }
}

@include context-edit {
    .has-text-color
        *:not(.has-text-color):not([class*='block-editor-']):not([class*='components-']):hover,
    .has-text-color
        *:not(.has-text-color):not([class*='block-editor-']):not([class*='components-']),
    .has-text-color
        *:not(.has-text-color):not([class*='block-editor-']):not([class*='components-']):active {
        color: inherit !important;
    }
}
