:root {
	@each $colour, $colourSet in $theme_colors {
		@each $variant, $value in $colourSet {
			@if $variant == 'base' {
				--color-#{$colour}: #{$value};
			} @else {
				--color-#{$colour}-#{$variant}: #{$value};
			}
		}
	}
}

@each $color, $colorSet in $gutenberg_colors {
	@each $variant, $value in $colorSet {
		@if $variant == 'base' {
			.has-#{$color}-color {
				color: c($color);
			}

			.has-#{$color}-background-color {
				background-color: c($color);
			}
		} @else {
			.has-#{$color}-#{$variant}-color {
				color: c($color, $variant);
			}

			.has-#{$color}-#{$variant}-background-color {
				background-color: c($color, $variant);
			}
		}
	}
}

.has-text-color * {
	color: inherit;
}

@include context-edit {
	.has-text-color * {
		color: inherit !important;
	}
}
