<!-- wp:template-part {"slug":"header","tagName":"header","className":"c-masthead","layout":{"inherit":true}} /-->

<!-- wp:group {"layout":{"inherit":true}} -->
<div class="wp-block-group">
    <!-- wp:group -->
    <div class="wp-block-group">
        <!-- wp:heading {"level":1} -->
        <h1 id="seite-oder-inhalt-nicht-gefunden">Seite oder Inhalt nicht gefunden</h1>
        <!-- /wp:heading -->

        <!-- wp:paragraph -->
        <p>Die gewünschte Seite wurde leider nicht gefunden.</p>
        <!-- /wp:paragraph -->

        <!-- wp:search {"label":"","showLabel":false,"placeholder":"Geben Sie einen Suchbegriff ein","buttonText":"Suchen","buttonUseIcon":true} /-->
    </div>
    <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"c-footer","layout":{"inherit":true}} /-->
