<!-- wp:template-part {"slug":"header","theme":"hello-roots"} /-->

<!-- wp:group {"tagName":"main","className":"c-main","layout":{"inherit":true}} -->
<main class="wp-block-group c-main">
    <!-- wp:heading {"level":1} -->
    <h1 id="seite-oder-inhalt-nicht-gefunden">Seite oder Inhalt nicht gefunden</h1>
    <!-- /wp:heading -->

    <!-- wp:paragraph -->
    <p>Die gewünschte Seite wurde leider nicht gefunden.</p>
    <!-- /wp:paragraph -->

    <!-- wp:search {"placeholder":"Geben Sie einen Suchbegriff ein"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"hello-roots"} /-->
