<!-- wp:template-part {"slug":"svg-filter"} /-->
<!-- wp:template-part {"slug":"header-archive","tagName":"header","className":"c-masthead","layout":{"inherit":true}} /-->

<!-- wp:group {"align":"full", "className":"c-outer", "tagName": "section","layout":{"inherit":true}} -->
<section class="wp-block-group alignfull c-outer">

    <!-- wp:query-title {"className":"c-archive__title has-huge-font-size","type":"archive","textAlign":"center"} /-->

    <!-- wp:term-description /-->

    <!-- wp:template-part {"align":"wide","slug":"loop-default","layout":{"inherit":true}} /-->
</section>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"c-footer","layout":{"inherit":true}} /-->


