<!-- wp:template-part {"slug":"header-single","tagName":"header","className":"c-masthead","layout":{"inherit":true}} /-->

<!-- wp:group {"align":"wide","className":"c-article__header","layout":{"inherit":true}} -->
<div class="wp-block-group alignwide c-article__header">
    <!-- wp:post-title {"level":1,"isLink":true} /-->

    <!-- wp:group {"tagName":"main"} -->
    <main class="wp-block-group">
        <!-- wp:post-content {"align":"full","layout":{"inherit":true}} /-->
    </main>
    <!-- /wp:group -->

</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"c-footer","layout":{"inherit":true}} /-->
