<!-- wp:template-part {"slug":"header","theme":"hello-roots"} /-->

<!-- wp:group {"tagName":"main","className":"c-main","layout":{"inherit":true}} -->
<main class="wp-block-group c-main">

    <!-- wp:group {"className":"c-archive__header"} -->
    <div class="wp-block-group c-archive__header">
        <!-- wp:query-title {"className":"c-archive__title","type":"archive"} /-->
        <!-- wp:term-description /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:template-part {"slug":"loop-default","theme":"hello-roots"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"hello-roots"} /-->
