.wp-block-cover {
	display: flex;
	width: 100%;
	background: center/cover no-repeat;
	position: relative;
	font-size: 150%;
	overflow: hidden;
	margin-top: 1rem;
	margin-bottom: 1rem;
	min-height: 25vh;

	&:first-child {
		margin-top: 0;
	}

	&.has-parallax {
		background-attachment: fixed;
	}

	&.alignleft,
	&.alignright {
		margin-top: 0;
	}

	&.alignleft {
		margin-right: 1rem;
	}

	&.alignright {
		margin-left: 1rem;
	}

	&.aligncenter {
		clear: both;
	}

	&.has-background-dim {
		&::before {
			@include flood;
			content: '';
			z-index: 1;
			background-color: c(black);
			opacity: 0.5; // Default, if no % value explicity selected
		}

		.wp-block-cover-text {
			color: c(white);
		}

		&-10::before {
			opacity: 0.1;
		}

		&-20::before {
			opacity: 0.2;
		}

		&-30::before {
			opacity: 0.3;
		}

		&-40::before {
			opacity: 0.4;
		}

		&-50::before {
			opacity: 0.5;
		}

		&-60::before {
			opacity: 0.6;
		}

		&-70::before {
			opacity: 0.7;
		}

		&-80::before {
			opacity: 0.8;
		}

		&-90::before {
			opacity: 0.9;
		}

		&-100::before {
			opacity: 1;
		}
	}

	&.has-black-background-color {
		&::before {
			background-color: c(black);
		}

		.wp-block-cover-text {
			color: c(white);
		}
	}

	&.has-gray-background-color {
		&::before {
			background-color: c(gray);
		}

		.wp-block-cover-text {
			color: c(white);
		}
	}

	&.has-white-background-color {
		&::before {
			background-color: c(white);
		}

		.wp-block-cover-text {
			color: c(black);
		}
	}

	&__inner-container {
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		text-align: center;
		padding: 2rem;
	}

	&__video-background {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		width: 100%;
		height: 100%;
		z-index: 0;
		object-fit: cover;
	}
}