.wp-block-separator {
	clear: both;
	max-width: 50%;
	margin: 2rem auto;

	&.is-style-dots {
		text-align: center;
		border: none;

		&::before {
			display: block;
			content: '\00b7 \00b7 \00b7';
			color: c(gray);
			font-size: 150%;
			letter-spacing: 0.5rem;
			text-align: center;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}