.hello-icon {

	display: inline-block;

	svg {
		vertical-align: middle;
		height: 1em;
		width: auto;
		fill: currentColor;
	}

	&--size-lg {
		font-size: (4em / 3);
		line-height: (3em / 4);
		vertical-align: -15%;
	}

	&--fw {
		width: (18em / 14);
		text-align: center;
	}

	&--border {
		border: 1px solid currentColor;
		height: 1em;
		line-height: 1em;
		width: 1em;
		text-align: center;
		svg {
			height: 0.6em;
			vertical-align: inherit;
		}
	}

	&--round {
		border-radius: 50%;
	}

	&--animation-spin {
		animation: spin 2s infinite linear;
	}

	&--animation-pulse {
		animation: spin 1s infinite steps(8);
	}

	&--rotate-90 {
		transform: rotate(90deg);
	}

	&--rotate-180 {
		transform: rotate(180deg);
	}

	&--rotate-270 {
		transform: rotate(270deg);
	}

	&--flip-horizontal {
		transform: scale(-1 1);
	}

	&--flip-vertical {
		transform: scale(1 -1);
	}
}