// TRANSITION
// default transition settings

$default-transition-property: all;
$default-transition-duration: $easing_speed + 0ms;
$default-transition-function: cubic-bezier($easing_bezier);
$default-transition-delay: false;