$font: 'Affogato', sans-serif;
$font-heading: 'Affogato', sans-serif;

$font-size: 1.6rem;
$font-size-small: 1.2rem;
$font-size-large: 2rem;

$font-size-h1: 3.5rem;
$font-size-h2: 3rem;
$font-size-h3: 2.5rem;
$font-size-h4: 2rem;
