// GRID
// grid settings

$grid-space-x: 1.6rem;
$grid-space: ($grid-space-x / 2);

$grid-size: 0px;
@each $name, $size in $theme_breakpoints {
	$grid-size: $size + 0px;
}

$grid-size-container: 94%;

$breakpoints: map-merge((small-phone : 0), $theme_breakpoints);
