iframe {
	max-width: 100% !important;
	height: auto;
}

.responsive-iframe {
	position: relative;
	padding-bottom: percentage(9 / 16);
	height: 0;
	overflow: hidden;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.responsive-iframe--ratio-square,
.responsive-iframe--ratio-1x1 {
	padding-bottom: 100%;
}

.responsive-iframe--ratio-2x1 {
	padding-bottom: percentage(1 / 2);
}

.responsive-iframe--ratio-4x3 {
	padding-bottom: percentage(3 / 4);
}

.responsive-iframe--ratio-16x9 {
	padding-bottom: percentage(9 / 16);
}

.responsive-iframe--ratio-21x9 {
	padding-bottom: percentage(9 / 21);
}