/* fonts */
html {
	font-family: $font;
	font-weight: normal;
}

@include typography-build;

a, button {
	color: c(primary);
	text-decoration: none;
	@include transition();
}

p, tr, li, input {

	color: c();
	margin: 0 0 0 0;

	em {
		font-style: italic;
	}

	strong,
	b {
		font-weight: bold;
	}

	small {
		font-size: $font-size-smaller;
		display: inline-block;
	}

	&.big, .big {
		font-size: $font-size-larger;
	}

	sub, sup {
		font-size: $font-size-smaller;
		line-height: 0;
		position: relative;
		vertical-align: baseline;
	}

	sup {
		top: -0.5em;
	}

	sub {
		bottom: -0.25em;
	}
}

h1, h2, h3, h4, h5, h6 {
	color: c(black, dark);
}