:root {
	--color-button-primary-background: #{c(primary)};
	--color-button-primary-hover: #{c(white)};
	--color-button-primary: #{c(white)};
}

.o-button {
	&--size-small {
		font-size: var(--font-size-small);
	}

	&--size-large {
		font-size: var(--font-size-large);
	}

	&--size-smaller {
		font-size: var(--font-size-xsmall);
	}

	&--size-larger {
		font-size: var(--font-size-larger);
	}
}
