:root {
	--color-button-primary-background: #{c(primary)};
	--color-button-primary-hover: #{c(white)};
	--color-button-primary: #{c(white)};
}

.o-button {
	&--size-small {
		font-size: $font-size-small;
	}

	&--size-large {
		font-size: $font-size-large;
	}

	&--size-smaller {
		font-size: $font-size-xsmall;
	}

	&--size-larger {
		font-size: $font-size-xlarge;
	}
}
